#scard{
    background-color: #fff;
    color: black;
    border: none !important;
    box-shadow:  0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px !important;
}
#scard:hover{
    transform: none ;
}