#userinfo{
    background-color: #fff;
    height: 35rem;
    margin: 1rem 0;
    border-radius: 1rem !important;
}
#past{
    background: #fff;
    border: none !important;
    border-radius: 1rem !important;
}
.pastcard{
    border-radius: 1rem !important;
    margin: 10px;
    padding: 10px;
}