
.form-control::-webkit-input-placeholder {
    color: rgb(57, 57, 57);
  }

#lcard{
    color:black;
    margin-top: 1rem;;
    min-height: 20rem ;
    min-width: 20rem;
    transition: all ease-in-out .4s ;
    background: transparent;  /* fallback for old browsers */;
    border: 5px solid #53b7ce !important;
    box-shadow: rgba(72, 193, 199, 0.632) 10px 15px 24px;
    padding: 40px;
    border-radius: 20px!important;
    margin: 1em 10px;
    
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#lcard:hover{
    transform: translateY(-10px);
    background: #4798d5; 
    cursor: grab;
}
.card-title{
    font-weight: bold;
    font-size: x-large;
}
.head{
    font-size: 20px;
}
.p1
{
    justify-content: center;
    padding: 25px;
    margin-bottom: 15px;
}
.p2
{
    justify-content: center;
    padding: 25px;
    margin-bottom: 15px;
}
.p3
{
    justify-content: center;
    padding: 25px;
    margin-bottom: 15px;
}