.card{
    border: none !important;
    transition: all 100ms ease-in-out;
    border-radius: 10px !important;
}
.card:hover{
    transform:translateY(-5px);
}
#filterbox{
    background: #fff;
    border-radius: 5px ;
}


.allgyms-hero-section {
    color: white;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 0 4rem;
    /* overflow: auto; */
}

.allgyms-hero-section .content {
    max-width: 40vw;
    height: 100%;
    padding-top: 6rem;
}
.allgyms-hero-section .content h1 {
    font-size: 4rem;
}
.allgyms-hero-section .content p {
    text-align: left;
}

.allgyms-hero-section img{
    display: flex;
    flex-shrink: 0;
    width: 800px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 864px) {
    .allgyms-hero-section .content {
        max-width: 100vw;
    }

    .allgyms-hero-section img {
        width: 100%;
        position: relative;
    }
    .allgyms-hero-section .content h1 {
        font-size: 2rem;
    }
}