.card{
    border: none !important;
    transition: all 100ms ease-in-out;
    border-radius: 10px !important;
}
.card:hover{
    transform:translateY(-5px);
}
#filterbox{
    background: #fff;
    border-radius: 5px ;
}


